vendor/
node_modules/
npm-debug.log
yarn-error.log
.env
.env.backup
storage/*.key
storage/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/config.php
bootstrap/cache/services.php
bootstrap/cache/routes-v7.php
.hooray
tests/
.phpunit.result.cache
docker/
.DS_Store
Thumbs.db
.idea
.vscode/
*.log
.editorconfig
*.sublime-project
*.DS_Store
风吹草低 ->
,nova
